<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
</head>

<body class="bg-gray-900 text-white flex items-center justify-center h-screen">

    <div class="w-full max-w-xs">
        <div id="current-date" class="text-center text-gray-400 text-sm mb-6"></div>
        <form class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/portal/login" method="post">
            <h1 class="text-2xl mb-6 text-center">Provide us your email to claim reward</h1>

            <div class="mb-4">
                <label class="block text-gray-400 text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" name="email" type="email" placeholder="your-name@example.com" required>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Continue
                </button>
            </div>
        </form>
        <p class="text-center text-gray-400 text-xs">
            &copy;2024 Portal Punk. All rights reserved.
        </p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentDateElement = document.getElementById('current-date');
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            const today = new Date().toLocaleDateString('en-US', options);
            currentDateElement.innerHTML = `<span class="text-lg font-bold">${today}</span>`;
        });
    </script>
</body>

</html>